*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: blueviolet;
}

.class{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0 1em 0;
    border: solid 1px darkblue;
}